USE [SEP490_G87_VitaNutrientSystem]
GO
/****** Object:  Schema [Business]    Script Date: 10/21/2024 10:00:18 PM ******/
CREATE SCHEMA [Business]
GO
/****** Object:  Schema [FoodData]    Script Date: 10/21/2024 10:00:18 PM ******/
CREATE SCHEMA [FoodData]
GO
/****** Object:  Schema [UserData]    Script Date: 10/21/2024 10:00:18 PM ******/
CREATE SCHEMA [UserData]
GO
/****** Object:  Table [Business].[ArticleImages]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[ArticleImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArticleId] [int] NOT NULL,
	[ImagePath] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[ArticlesNews]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[ArticlesNews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[NameCreater] [nvarchar](50) NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[DateCreated] [datetime] NULL,
	[HeaderImage] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[ConversationParticipants]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[ConversationParticipants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationsId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[AddedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[Conversations]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[Conversations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IsGroup] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[DayOfTheWeek]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[DayOfTheWeek](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[MealOfTheDay]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[MealOfTheDay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NutritionRouteId] [int] NOT NULL,
	[Slot1OfTheDayId] [smallint] NULL,
	[Slot1FoodListId] [varchar](512) NULL,
	[Slot2OfTheDayId] [smallint] NULL,
	[Slot2FoodListId] [varchar](512) NULL,
	[Slot3OfTheDayId] [smallint] NULL,
	[Slot3FoodListId] [varchar](512) NULL,
	[Slot4OfTheDayId] [smallint] NULL,
	[Slot4FoodListId] [varchar](512) NULL,
	[Slot5OfTheDayId] [smallint] NULL,
	[Slot5FoodListId] [varchar](512) NULL,
	[DateExecute] [date] NULL,
	[IsDone] [bit] NULL,
	[IsEditByUser] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[Messages]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConversationsId] [int] NOT NULL,
	[SenderId] [int] NOT NULL,
	[Content] [nvarchar](500) NULL,
	[SentAt] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[MSG]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[MSG](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MessageType] [nvarchar](50) NULL,
	[MessageContent] [nvarchar](500) NULL,
	[SendDateTime] [datetime] NULL,
	[IsSent] [bit] NULL,
	[SendResult] [bit] NULL,
	[ErrorMessage] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[NutritionRoute]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[NutritionRoute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreateById] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Describe] [nvarchar](500) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsDone] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[SlotOfTheDay]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[SlotOfTheDay](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Slot] [nvarchar](50) NULL,
	[StartAt] [time](7) NULL,
	[EndAt] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[TransactionsSystem]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[TransactionsSystem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserPayID] [int] NOT NULL,
	[PayeeID] [int] NOT NULL,
	[APITransactions] [int] NULL,
	[BankBrandName] [varchar](50) NULL,
	[AccountNumber] [varchar](50) NULL,
	[TransactionDate] [datetime] NULL,
	[AmountOut] [money] NULL,
	[AmountIn] [money] NULL,
	[Accumulated] [money] NULL,
	[TransactionContent] [varchar](500) NULL,
	[ReferenceNumber] [varchar](100) NULL,
	[Code] [varchar](100) NULL,
	[SubAccount] [varchar](50) NULL,
	[BankAccountId] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Business].[UserListManagement]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Business].[UserListManagement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NutritionistId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Describe] [nvarchar](500) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Rate] [smallint] NULL,
	[IsDone] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FoodData].[CookingDifficulty]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FoodData].[CookingDifficulty](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FoodData].[FoodAndDiseases]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FoodData].[FoodAndDiseases](
	[ListOfDiseasesId] [int] NOT NULL,
	[FoodListId] [int] NOT NULL,
	[Describe] [nvarchar](500) NULL,
	[IsGoodOrBad] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ListOfDiseasesId] ASC,
	[FoodListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FoodData].[FoodList]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FoodData].[FoodList](
	[FoodListId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Describe] [nvarchar](500) NULL,
	[Rate] [float] NULL,
	[NumberRate] [int] NULL,
	[URLImage] [varchar](512) NULL,
	[FoodTypeId] [smallint] NOT NULL,
	[KeyNoteId] [int] NULL,
	[IsActive] [bit] NULL,
	[PreparationTime] [smallint] NULL,
	[CookingTime] [smallint] NULL,
	[CookingDifficultyId] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FoodData].[FoodType]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FoodData].[FoodType](
	[FoodTypeId] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Describe] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FoodData].[IngredientDetails100g]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FoodData].[IngredientDetails100g](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KeyNoteId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Describe] [nvarchar](500) NULL,
	[URLImage] [varchar](512) NULL,
	[TypeOfCalculationId] [smallint] NOT NULL,
	[Energy] [smallint] NULL,
	[Water] [float] NULL,
	[Protein] [float] NULL,
	[Fat] [float] NULL,
	[Carbohydrate] [float] NULL,
	[Fiber] [float] NULL,
	[Ash] [float] NULL,
	[Sugar] [float] NULL,
	[Galactose] [float] NULL,
	[Maltose] [float] NULL,
	[Lactose] [float] NULL,
	[Fructose] [float] NULL,
	[Glucose] [float] NULL,
	[Sucrose] [float] NULL,
	[Calcium] [float] NULL,
	[Iron] [float] NULL,
	[Magnesium] [float] NULL,
	[Manganese] [float] NULL,
	[Phosphorous] [float] NULL,
	[Potassium] [float] NULL,
	[Sodium] [float] NULL,
	[Zinc] [float] NULL,
	[Copper] [float] NULL,
	[Selenium] [float] NULL,
	[Vitamin_C] [float] NULL,
	[Vitamin_B1] [float] NULL,
	[Vitamin_B2] [float] NULL,
	[Vitamin_PP] [float] NULL,
	[Vitamin_B5] [float] NULL,
	[Vitamin_B6] [float] NULL,
	[Folat] [float] NULL,
	[Vitamin_B9] [float] NULL,
	[Vitamin_H] [float] NULL,
	[Vitamin_B12] [float] NULL,
	[Vitamin_A] [float] NULL,
	[Vitamin_D] [float] NULL,
	[Vitamin_E] [float] NULL,
	[Vitamin_K] [float] NULL,
	[Beta_caroten] [float] NULL,
	[Alpha_caroten] [float] NULL,
	[Beta_cryptoxanthin] [float] NULL,
	[Lycopen] [float] NULL,
	[LuteinVsZeaxanthin] [float] NULL,
	[Purin] [float] NULL,
	[Total_isoflavone] [float] NULL,
	[Daidzein] [float] NULL,
	[Genistein] [float] NULL,
	[Glycetin] [float] NULL,
	[Total_saturated_fatty_acid] [float] NULL,
	[Palmitic_C16_0] [float] NULL,
	[Margaric_C17_0] [float] NULL,
	[Stearic_C18_0] [float] NULL,
	[Arachidic_C20_0] [float] NULL,
	[Behenic_C22_0] [float] NULL,
	[Lignoceric_C24_0] [float] NULL,
	[TotalMonounsaturatedFattyAcid] [float] NULL,
	[Myristoleic_C14_1] [float] NULL,
	[Palmitoleic_C16_1] [float] NULL,
	[Oleic_C18_1] [float] NULL,
	[TotalPolyunsaturatedFattyAcid] [float] NULL,
	[Linoleic_C18_2_n6] [float] NULL,
	[Linolenic_C18_2_n3] [float] NULL,
	[Arachidonic_C20_4] [float] NULL,
	[Eicosapentaenoic_C20_5_n3] [float] NULL,
	[Docosahexaenoic_C22_6_n3] [float] NULL,
	[TotalTransFattyAcid] [float] NULL,
	[Cholesterol] [float] NULL,
	[Phytosterol] [float] NULL,
	[Lysin] [float] NULL,
	[Methionin] [float] NULL,
	[Tryptophan] [float] NULL,
	[Phenylalanin] [float] NULL,
	[Threonin] [float] NULL,
	[Valin] [float] NULL,
	[Leucin] [float] NULL,
	[Isoleucin] [float] NULL,
	[Arginin] [float] NULL,
	[Histidin] [float] NULL,
	[Cystin] [float] NULL,
	[Tyrosin] [float] NULL,
	[Alanin] [float] NULL,
	[Acid_aspartic] [float] NULL,
	[Acid_glutamic] [float] NULL,
	[Glycin] [float] NULL,
	[Prolin] [float] NULL,
	[Serin] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FoodData].[KeyNote]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FoodData].[KeyNote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KeyList] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FoodData].[Recipe]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FoodData].[Recipe](
	[RecipeId] [int] IDENTITY(1,1) NOT NULL,
	[FoodListId] [int] NOT NULL,
	[NumericalOrder] [smallint] NULL,
	[Describe] [nvarchar](500) NULL,
	[URLImage] [varchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FoodData].[ScaleAmount]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FoodData].[ScaleAmount](
	[FoodListId] [int] NOT NULL,
	[IngredientDetailsId] [int] NOT NULL,
	[ScaleAmount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodListId] ASC,
	[IngredientDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [FoodData].[TypeOfCalculation]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FoodData].[TypeOfCalculation](
	[TypeId] [smallint] IDENTITY(1,1) NOT NULL,
	[CalculationForm] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[BankInformation]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[BankInformation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BankAccount] [varchar](50) NULL,
	[TypeBank] [varchar](50) NULL,
	[IsUsed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[ExerciseIntensity]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[ExerciseIntensity](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Describe] [nvarchar](500) NULL,
	[ListKey] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[ExpertPackages]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[ExpertPackages](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[NutritionistDetailsId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Describe] [nvarchar](500) NULL,
	[Price] [money] NULL,
	[Duration] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[FoodSelection]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[FoodSelection](
	[UserId] [int] NOT NULL,
	[FoodListId] [int] NOT NULL,
	[Rate] [smallint] NULL,
	[RecurringId] [smallint] NULL,
	[IsBlock] [bit] NULL,
	[IsCollection] [bit] NULL,
	[IsLike] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[FoodListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[ListOfDiseases]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[ListOfDiseases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Describe] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[MealSettings]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[MealSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DayOfTheWeekStartId] [smallint] NULL,
	[SameScheduleEveryDay] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[MealSettingsDetails]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[MealSettingsDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MealSettingsId] [int] NOT NULL,
	[SlotOfTheDayId] [smallint] NULL,
	[NutritionTargetsDailyId] [int] NULL,
	[DayOfTheWeekId] [smallint] NULL,
	[SkipCreationProcess] [bit] NULL,
	[Size] [nvarchar](50) NULL,
	[NutritionFocus] [bit] NULL,
	[NumberOfDishes] [smallint] NULL,
	[TypeFavoriteFood] [nvarchar](50) NULL,
	[WantCookingId] [smallint] NULL,
	[TimeAvailable] [smallint] NULL,
	[CookingDifficultyId] [smallint] NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[NutritionistDetails]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[NutritionistDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NutritionistId] [int] NOT NULL,
	[DescribeYourself] [nvarchar](500) NULL,
	[Height] [smallint] NULL,
	[Weight] [smallint] NULL,
	[Age] [smallint] NULL,
	[Rate] [float] NULL,
	[NumberRate] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[NutritionTargetsDaily]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[NutritionTargetsDaily](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Calories] [smallint] NULL,
	[CarbsMin] [smallint] NULL,
	[CarbsMax] [smallint] NULL,
	[FatsMin] [smallint] NULL,
	[FatsMax] [smallint] NULL,
	[ProteinMin] [smallint] NULL,
	[ProteinMax] [smallint] NULL,
	[MinimumFiber] [smallint] NULL,
	[LimitDailySodium] [bit] NULL,
	[LimitDailyCholesterol] [bit] NULL,
	[ExerciseIntensityId] [smallint] NOT NULL,
	[FoodTypeIdWant] [smallint] NOT NULL,
	[AvoidIngredient] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[RecurringSettings]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[RecurringSettings](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Frequency] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[Role]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[Role](
	[RoleID] [smallint] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[User]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[URLImage] [varchar](512) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DOB] [datetime] NULL,
	[Gender] [bit] NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [varchar](15) NULL,
	[Password] [varchar](100) NOT NULL,
	[Role] [smallint] NOT NULL,
	[IsActive] [bit] NULL,
	[Account] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[UserDetails]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[UserDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DescribeYourself] [nvarchar](500) NULL,
	[Height] [smallint] NULL,
	[Weight] [smallint] NULL,
	[Age] [smallint] NULL,
	[WantImprove] [nvarchar](500) NULL,
	[UnderlyingDisease] [nvarchar](500) NULL,
	[InforConfirmGood] [nvarchar](500) NULL,
	[InforConfirmBad] [nvarchar](500) NULL,
	[IsPremium] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserData].[WantCooking]    Script Date: 10/21/2024 10:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserData].[WantCooking](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Business].[ArticlesNews] ON 

INSERT [Business].[ArticlesNews] ([Id], [UserID], [NameCreater], [Title], [Content], [IsActive], [DateCreated], [HeaderImage]) VALUES (1, 1, N'John Doe', N'Health Tips', N'Here are some tips...', 1, NULL, NULL)
INSERT [Business].[ArticlesNews] ([Id], [UserID], [NameCreater], [Title], [Content], [IsActive], [DateCreated], [HeaderImage]) VALUES (2, 2, N'Jane Smith', N'Diet Plans', N'Learn about diet plans...', 1, NULL, NULL)
INSERT [Business].[ArticlesNews] ([Id], [UserID], [NameCreater], [Title], [Content], [IsActive], [DateCreated], [HeaderImage]) VALUES (3, 3, N'Emily Brown', N'Exercise Routines', N'Best exercises for you...', 1, NULL, NULL)
SET IDENTITY_INSERT [Business].[ArticlesNews] OFF
GO
SET IDENTITY_INSERT [Business].[ConversationParticipants] ON 

INSERT [Business].[ConversationParticipants] ([Id], [ConversationsId], [UserId], [AddedAt]) VALUES (1, 1, 1, CAST(N'2024-10-03T20:46:55.223' AS DateTime))
INSERT [Business].[ConversationParticipants] ([Id], [ConversationsId], [UserId], [AddedAt]) VALUES (2, 2, 2, CAST(N'2024-10-03T20:46:55.223' AS DateTime))
INSERT [Business].[ConversationParticipants] ([Id], [ConversationsId], [UserId], [AddedAt]) VALUES (3, 3, 3, CAST(N'2024-10-03T20:46:55.223' AS DateTime))
SET IDENTITY_INSERT [Business].[ConversationParticipants] OFF
GO
SET IDENTITY_INSERT [Business].[Conversations] ON 

INSERT [Business].[Conversations] ([Id], [Name], [IsGroup], [CreatedAt]) VALUES (1, N'Group A', 1, CAST(N'2024-10-03T20:46:55.217' AS DateTime))
INSERT [Business].[Conversations] ([Id], [Name], [IsGroup], [CreatedAt]) VALUES (2, N'Group B', 1, CAST(N'2024-10-03T20:46:55.217' AS DateTime))
INSERT [Business].[Conversations] ([Id], [Name], [IsGroup], [CreatedAt]) VALUES (3, N'Private Chat', 0, CAST(N'2024-10-03T20:46:55.217' AS DateTime))
SET IDENTITY_INSERT [Business].[Conversations] OFF
GO
SET IDENTITY_INSERT [Business].[MealOfTheDay] ON 

INSERT [Business].[MealOfTheDay] ([Id], [NutritionRouteId], [Slot1OfTheDayId], [Slot1FoodListId], [Slot2OfTheDayId], [Slot2FoodListId], [Slot3OfTheDayId], [Slot3FoodListId], [Slot4OfTheDayId], [Slot4FoodListId], [Slot5OfTheDayId], [Slot5FoodListId], [DateExecute], [IsDone], [IsEditByUser]) VALUES (1, 1, 1, N'#1#2#3#4#5', 2, N'#1#2#3#4#5', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [Business].[MealOfTheDay] ([Id], [NutritionRouteId], [Slot1OfTheDayId], [Slot1FoodListId], [Slot2OfTheDayId], [Slot2FoodListId], [Slot3OfTheDayId], [Slot3FoodListId], [Slot4OfTheDayId], [Slot4FoodListId], [Slot5OfTheDayId], [Slot5FoodListId], [DateExecute], [IsDone], [IsEditByUser]) VALUES (2, 2, 3, N'#1#2#3#4#5', 4, N'#1#2#3#4#5', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [Business].[MealOfTheDay] ([Id], [NutritionRouteId], [Slot1OfTheDayId], [Slot1FoodListId], [Slot2OfTheDayId], [Slot2FoodListId], [Slot3OfTheDayId], [Slot3FoodListId], [Slot4OfTheDayId], [Slot4FoodListId], [Slot5OfTheDayId], [Slot5FoodListId], [DateExecute], [IsDone], [IsEditByUser]) VALUES (3, 3, 1, N'#1#2#3#4#5', 2, N'#1#2#3#4#5', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [Business].[MealOfTheDay] OFF
GO
SET IDENTITY_INSERT [Business].[Messages] ON 

INSERT [Business].[Messages] ([Id], [ConversationsId], [SenderId], [Content], [SentAt], [IsRead]) VALUES (1, 1, 1, N'Hello!', CAST(N'2024-10-03T20:46:55.223' AS DateTime), 0)
INSERT [Business].[Messages] ([Id], [ConversationsId], [SenderId], [Content], [SentAt], [IsRead]) VALUES (2, 2, 2, N'How are you?', CAST(N'2024-10-03T20:46:55.223' AS DateTime), 0)
INSERT [Business].[Messages] ([Id], [ConversationsId], [SenderId], [Content], [SentAt], [IsRead]) VALUES (3, 3, 3, N'What up?', CAST(N'2024-10-03T20:46:55.223' AS DateTime), 0)
SET IDENTITY_INSERT [Business].[Messages] OFF
GO
SET IDENTITY_INSERT [Business].[MSG] ON 

INSERT [Business].[MSG] ([Id], [UserID], [MessageType], [MessageContent], [SendDateTime], [IsSent], [SendResult], [ErrorMessage]) VALUES (1, 1, N'SMS', N'Your order is ready', CAST(N'2024-10-03T20:46:55.223' AS DateTime), 1, NULL, NULL)
INSERT [Business].[MSG] ([Id], [UserID], [MessageType], [MessageContent], [SendDateTime], [IsSent], [SendResult], [ErrorMessage]) VALUES (2, 2, N'Email', N'Meeting reminder', CAST(N'2024-10-03T20:46:55.223' AS DateTime), 1, NULL, NULL)
INSERT [Business].[MSG] ([Id], [UserID], [MessageType], [MessageContent], [SendDateTime], [IsSent], [SendResult], [ErrorMessage]) VALUES (3, 3, N'Push Notification', N'New update available', CAST(N'2024-10-03T20:46:55.223' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [Business].[MSG] OFF
GO
SET IDENTITY_INSERT [Business].[NutritionRoute] ON 

INSERT [Business].[NutritionRoute] ([Id], [UserId], [CreateById], [Name], [Describe], [StartDate], [EndDate], [IsDone]) VALUES (1, 1, 2, N'Weight Loss Plan', N'A customized plan for weight loss', NULL, NULL, NULL)
INSERT [Business].[NutritionRoute] ([Id], [UserId], [CreateById], [Name], [Describe], [StartDate], [EndDate], [IsDone]) VALUES (2, 2, 3, N'Muscle Gain Plan', N'A customized plan for muscle gain', NULL, NULL, NULL)
INSERT [Business].[NutritionRoute] ([Id], [UserId], [CreateById], [Name], [Describe], [StartDate], [EndDate], [IsDone]) VALUES (3, 3, 4, N'Balanced Diet Plan', N'A customized plan for balanced nutrition', NULL, NULL, NULL)
SET IDENTITY_INSERT [Business].[NutritionRoute] OFF
GO
SET IDENTITY_INSERT [Business].[SlotOfTheDay] ON 

INSERT [Business].[SlotOfTheDay] ([Id], [Slot], [StartAt], [EndAt]) VALUES (1, N'Morning', CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time))
INSERT [Business].[SlotOfTheDay] ([Id], [Slot], [StartAt], [EndAt]) VALUES (2, N'Afternoon', CAST(N'12:00:00' AS Time), CAST(N'17:00:00' AS Time))
INSERT [Business].[SlotOfTheDay] ([Id], [Slot], [StartAt], [EndAt]) VALUES (3, N'Evening', CAST(N'17:00:00' AS Time), CAST(N'21:00:00' AS Time))
SET IDENTITY_INSERT [Business].[SlotOfTheDay] OFF
GO
SET IDENTITY_INSERT [Business].[TransactionsSystem] ON 

INSERT [Business].[TransactionsSystem] ([Id], [UserPayID], [PayeeID], [APITransactions], [BankBrandName], [AccountNumber], [TransactionDate], [AmountOut], [AmountIn], [Accumulated], [TransactionContent], [ReferenceNumber], [Code], [SubAccount], [BankAccountId], [Status]) VALUES (3, 3, 1, NULL, N'MBBank', N'0569000899', CAST(N'2024-10-16T17:01:19.000' AS DateTime), NULL, 4000.0000, NULL, N'thank toan test 1', NULL, NULL, NULL, NULL, 0)
INSERT [Business].[TransactionsSystem] ([Id], [UserPayID], [PayeeID], [APITransactions], [BankBrandName], [AccountNumber], [TransactionDate], [AmountOut], [AmountIn], [Accumulated], [TransactionContent], [ReferenceNumber], [Code], [SubAccount], [BankAccountId], [Status]) VALUES (4, 3, 1, 3569566, N'MBBank', N'0569000899', CAST(N'2024-10-16T17:01:19.000' AS DateTime), 0.0000, 2000.0000, 0.0000, N'Hello', N'FT24290600691633', N'', N'', 3342, 1)
INSERT [Business].[TransactionsSystem] ([Id], [UserPayID], [PayeeID], [APITransactions], [BankBrandName], [AccountNumber], [TransactionDate], [AmountOut], [AmountIn], [Accumulated], [TransactionContent], [ReferenceNumber], [Code], [SubAccount], [BankAccountId], [Status]) VALUES (5, 3, 1, 3679627, N'MBBank', N'0569000899', CAST(N'2024-10-19T00:39:58.000' AS DateTime), 0.0000, 5000.0000, 0.0000, N'thank toan test mon 9', N'FT24293547418805', N'', N'', 3342, 1)
SET IDENTITY_INSERT [Business].[TransactionsSystem] OFF
GO
INSERT [FoodData].[FoodAndDiseases] ([ListOfDiseasesId], [FoodListId], [Describe], [IsGoodOrBad]) VALUES (1, 1, N'Tomatoes are good for diabetes', 1)
INSERT [FoodData].[FoodAndDiseases] ([ListOfDiseasesId], [FoodListId], [Describe], [IsGoodOrBad]) VALUES (2, 2, N'Beef should be avoided for heart disease', 0)
INSERT [FoodData].[FoodAndDiseases] ([ListOfDiseasesId], [FoodListId], [Describe], [IsGoodOrBad]) VALUES (3, 3, N'Yogurt helps digestion', 1)
GO
SET IDENTITY_INSERT [FoodData].[FoodList] ON 

INSERT [FoodData].[FoodList] ([FoodListId], [Name], [Describe], [Rate], [NumberRate], [URLImage], [FoodTypeId], [KeyNoteId], [IsActive], [PreparationTime], [CookingTime], [CookingDifficultyId]) VALUES (1, N'Tomato', N'Fresh vegetable', 4.5, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [FoodData].[FoodList] ([FoodListId], [Name], [Describe], [Rate], [NumberRate], [URLImage], [FoodTypeId], [KeyNoteId], [IsActive], [PreparationTime], [CookingTime], [CookingDifficultyId]) VALUES (2, N'Beef', N'Rich in protein', 4.7, NULL, NULL, 2, NULL, NULL, NULL, NULL, NULL)
INSERT [FoodData].[FoodList] ([FoodListId], [Name], [Describe], [Rate], [NumberRate], [URLImage], [FoodTypeId], [KeyNoteId], [IsActive], [PreparationTime], [CookingTime], [CookingDifficultyId]) VALUES (3, N'Yogurt', N'Dairy product', 4.6, NULL, NULL, 3, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [FoodData].[FoodList] OFF
GO
SET IDENTITY_INSERT [FoodData].[FoodType] ON 

INSERT [FoodData].[FoodType] ([FoodTypeId], [Name], [Describe]) VALUES (1, N'Vegetable', N'Plant-based food')
INSERT [FoodData].[FoodType] ([FoodTypeId], [Name], [Describe]) VALUES (2, N'Meat', N'Animal-based food')
INSERT [FoodData].[FoodType] ([FoodTypeId], [Name], [Describe]) VALUES (3, N'Dairy', N'Milk-based products')
SET IDENTITY_INSERT [FoodData].[FoodType] OFF
GO
SET IDENTITY_INSERT [FoodData].[KeyNote] ON 

INSERT [FoodData].[KeyNote] ([Id], [KeyList]) VALUES (1, N'#Key1#Key2')
INSERT [FoodData].[KeyNote] ([Id], [KeyList]) VALUES (2, N'#Key3#Key4')
INSERT [FoodData].[KeyNote] ([Id], [KeyList]) VALUES (3, N'#Key5#Key6')
SET IDENTITY_INSERT [FoodData].[KeyNote] OFF
GO
SET IDENTITY_INSERT [FoodData].[Recipe] ON 

INSERT [FoodData].[Recipe] ([RecipeId], [FoodListId], [NumericalOrder], [Describe], [URLImage]) VALUES (1, 1, 1, N'Cut tomatoes into small pieces', N'/images/recipe1.jpg')
INSERT [FoodData].[Recipe] ([RecipeId], [FoodListId], [NumericalOrder], [Describe], [URLImage]) VALUES (2, 2, 1, N'Grill the beef', N'/images/recipe2.jpg')
INSERT [FoodData].[Recipe] ([RecipeId], [FoodListId], [NumericalOrder], [Describe], [URLImage]) VALUES (3, 3, 1, N'Mix yogurt with fruits', N'/images/recipe3.jpg')
SET IDENTITY_INSERT [FoodData].[Recipe] OFF
GO
SET IDENTITY_INSERT [FoodData].[TypeOfCalculation] ON 

INSERT [FoodData].[TypeOfCalculation] ([TypeId], [CalculationForm]) VALUES (1, N'By Weight')
INSERT [FoodData].[TypeOfCalculation] ([TypeId], [CalculationForm]) VALUES (2, N'By Volume')
INSERT [FoodData].[TypeOfCalculation] ([TypeId], [CalculationForm]) VALUES (3, N'By Serving')
SET IDENTITY_INSERT [FoodData].[TypeOfCalculation] OFF
GO
SET IDENTITY_INSERT [UserData].[BankInformation] ON 

INSERT [UserData].[BankInformation] ([Id], [UserID], [BankAccount], [TypeBank], [IsUsed]) VALUES (1, 1, N'0569000899', N'MBBank', 1)
SET IDENTITY_INSERT [UserData].[BankInformation] OFF
GO
SET IDENTITY_INSERT [UserData].[ExerciseIntensity] ON 

INSERT [UserData].[ExerciseIntensity] ([Id], [Name], [Describe], [ListKey]) VALUES (1, N'Low', N'Suitable for light activities', N'Low001')
INSERT [UserData].[ExerciseIntensity] ([Id], [Name], [Describe], [ListKey]) VALUES (2, N'Medium', N'Suitable for moderate activities', N'Med002')
INSERT [UserData].[ExerciseIntensity] ([Id], [Name], [Describe], [ListKey]) VALUES (3, N'High', N'Suitable for intense activities', N'High003')
SET IDENTITY_INSERT [UserData].[ExerciseIntensity] OFF
GO
SET IDENTITY_INSERT [UserData].[ExpertPackages] ON 

INSERT [UserData].[ExpertPackages] ([Id], [NutritionistDetailsId], [Name], [Describe], [Price], [Duration]) VALUES (1, 1, N'Basic Package', N'A starter package', 100.0000, 30)
INSERT [UserData].[ExpertPackages] ([Id], [NutritionistDetailsId], [Name], [Describe], [Price], [Duration]) VALUES (2, 2, N'Advanced Package', N'A comprehensive package', 200.0000, 60)
INSERT [UserData].[ExpertPackages] ([Id], [NutritionistDetailsId], [Name], [Describe], [Price], [Duration]) VALUES (3, 3, N'Premium Package', N'All-in-one package', 300.0000, 90)
SET IDENTITY_INSERT [UserData].[ExpertPackages] OFF
GO
INSERT [UserData].[FoodSelection] ([UserId], [FoodListId], [Rate], [RecurringId], [IsBlock], [IsCollection], [IsLike]) VALUES (1, 1, 5, 1, NULL, NULL, NULL)
INSERT [UserData].[FoodSelection] ([UserId], [FoodListId], [Rate], [RecurringId], [IsBlock], [IsCollection], [IsLike]) VALUES (2, 2, 4, 2, NULL, NULL, NULL)
INSERT [UserData].[FoodSelection] ([UserId], [FoodListId], [Rate], [RecurringId], [IsBlock], [IsCollection], [IsLike]) VALUES (3, 3, 5, 3, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [UserData].[ListOfDiseases] ON 

INSERT [UserData].[ListOfDiseases] ([Id], [Name], [Describe]) VALUES (1, N'Diabetes', N'A disease that causes high blood sugar')
INSERT [UserData].[ListOfDiseases] ([Id], [Name], [Describe]) VALUES (2, N'Hypertension', N'High blood pressure condition')
INSERT [UserData].[ListOfDiseases] ([Id], [Name], [Describe]) VALUES (3, N'Asthma', N'Chronic respiratory condition')
SET IDENTITY_INSERT [UserData].[ListOfDiseases] OFF
GO
SET IDENTITY_INSERT [UserData].[NutritionistDetails] ON 

INSERT [UserData].[NutritionistDetails] ([Id], [NutritionistId], [DescribeYourself], [Height], [Weight], [Age], [Rate], [NumberRate]) VALUES (1, 1, N'Experienced nutritionist', 180, 75, NULL, NULL, NULL)
INSERT [UserData].[NutritionistDetails] ([Id], [NutritionistId], [DescribeYourself], [Height], [Weight], [Age], [Rate], [NumberRate]) VALUES (2, 2, N'Fitness expert with focus on healthy eating', 165, 60, NULL, NULL, NULL)
INSERT [UserData].[NutritionistDetails] ([Id], [NutritionistId], [DescribeYourself], [Height], [Weight], [Age], [Rate], [NumberRate]) VALUES (3, 3, N'Specializes in plant-based diets', 170, 65, NULL, NULL, NULL)
SET IDENTITY_INSERT [UserData].[NutritionistDetails] OFF
GO
SET IDENTITY_INSERT [UserData].[NutritionTargetsDaily] ON 

INSERT [UserData].[NutritionTargetsDaily] ([Id], [UserId], [Title], [Calories], [CarbsMin], [CarbsMax], [FatsMin], [FatsMax], [ProteinMin], [ProteinMax], [MinimumFiber], [LimitDailySodium], [LimitDailyCholesterol], [ExerciseIntensityId], [FoodTypeIdWant], [AvoidIngredient], [IsActive]) VALUES (1, 1, N'Daily Nutrition Target', 2000, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1, NULL, NULL)
INSERT [UserData].[NutritionTargetsDaily] ([Id], [UserId], [Title], [Calories], [CarbsMin], [CarbsMax], [FatsMin], [FatsMax], [ProteinMin], [ProteinMax], [MinimumFiber], [LimitDailySodium], [LimitDailyCholesterol], [ExerciseIntensityId], [FoodTypeIdWant], [AvoidIngredient], [IsActive]) VALUES (2, 2, N'Muscle Building Target', 2500, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2, 2, NULL, NULL)
INSERT [UserData].[NutritionTargetsDaily] ([Id], [UserId], [Title], [Calories], [CarbsMin], [CarbsMax], [FatsMin], [FatsMax], [ProteinMin], [ProteinMax], [MinimumFiber], [LimitDailySodium], [LimitDailyCholesterol], [ExerciseIntensityId], [FoodTypeIdWant], [AvoidIngredient], [IsActive]) VALUES (3, 3, N'Weight Loss Target', 1500, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 3, 3, NULL, NULL)
SET IDENTITY_INSERT [UserData].[NutritionTargetsDaily] OFF
GO
SET IDENTITY_INSERT [UserData].[RecurringSettings] ON 

INSERT [UserData].[RecurringSettings] ([Id], [Name], [Frequency]) VALUES (1, N'Daily', 1)
INSERT [UserData].[RecurringSettings] ([Id], [Name], [Frequency]) VALUES (2, N'Weekly', 7)
INSERT [UserData].[RecurringSettings] ([Id], [Name], [Frequency]) VALUES (3, N'Monthly', 30)
SET IDENTITY_INSERT [UserData].[RecurringSettings] OFF
GO
SET IDENTITY_INSERT [UserData].[Role] ON 

INSERT [UserData].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [UserData].[Role] ([RoleID], [RoleName]) VALUES (2, N'Nutritionist')
INSERT [UserData].[Role] ([RoleID], [RoleName]) VALUES (3, N'UserPremium')
SET IDENTITY_INSERT [UserData].[Role] OFF
GO
SET IDENTITY_INSERT [UserData].[User] ON 

INSERT [UserData].[User] ([UserId], [URLImage], [FirstName], [LastName], [DOB], [Gender], [Address], [Phone], [Password], [Role], [IsActive], [Account]) VALUES (1, N'~/images/faces/face4.jpg', N'John', N'Doe', NULL, NULL, NULL, N'', N'1', 1, 1, N'a')
INSERT [UserData].[User] ([UserId], [URLImage], [FirstName], [LastName], [DOB], [Gender], [Address], [Phone], [Password], [Role], [IsActive], [Account]) VALUES (2, N'/images/user2.jpg', N'Jane', N'Smith', NULL, NULL, NULL, NULL, N'2', 2, 1, N'b')
INSERT [UserData].[User] ([UserId], [URLImage], [FirstName], [LastName], [DOB], [Gender], [Address], [Phone], [Password], [Role], [IsActive], [Account]) VALUES (3, N'/images/user3.jpg', N'Emily', N'Brown', NULL, NULL, NULL, NULL, N'123456789', 3, 0, N'example@example.com')
SET IDENTITY_INSERT [UserData].[User] OFF
GO
SET IDENTITY_INSERT [UserData].[UserDetails] ON 

INSERT [UserData].[UserDetails] ([Id], [UserId], [DescribeYourself], [Height], [Weight], [Age], [WantImprove], [UnderlyingDisease], [InforConfirmGood], [InforConfirmBad], [IsPremium]) VALUES (1, 1, N'Interested in weight loss', 180, 75, NULL, NULL, N'#1#2#3#4', NULL, NULL, NULL)
INSERT [UserData].[UserDetails] ([Id], [UserId], [DescribeYourself], [Height], [Weight], [Age], [WantImprove], [UnderlyingDisease], [InforConfirmGood], [InforConfirmBad], [IsPremium]) VALUES (2, 2, N'Focused on building muscle', 165, 60, NULL, NULL, N'#1#2#3#4#5', NULL, NULL, NULL)
INSERT [UserData].[UserDetails] ([Id], [UserId], [DescribeYourself], [Height], [Weight], [Age], [WantImprove], [UnderlyingDisease], [InforConfirmGood], [InforConfirmBad], [IsPremium]) VALUES (3, 3, N'Looking for balanced diet', 170, 65, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [UserData].[UserDetails] OFF
GO
/****** Object:  Index [UQ__Conversa__135EC2124A57C55D]    Script Date: 10/21/2024 10:00:19 PM ******/
ALTER TABLE [Business].[ConversationParticipants] ADD UNIQUE NONCLUSTERED 
(
	[ConversationsId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__MealSett__1788CC4D843F35AF]    Script Date: 10/21/2024 10:00:19 PM ******/
ALTER TABLE [UserData].[MealSettings] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Nutritio__F4399C8D333D8E36]    Script Date: 10/21/2024 10:00:19 PM ******/
ALTER TABLE [UserData].[NutritionistDetails] ADD UNIQUE NONCLUSTERED 
(
	[NutritionistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserDeta__1788CC4DE9C17C83]    Script Date: 10/21/2024 10:00:19 PM ******/
ALTER TABLE [UserData].[UserDetails] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [UserData].[User] ADD  DEFAULT ('example@example.com') FOR [Account]
GO
ALTER TABLE [Business].[ArticleImages]  WITH CHECK ADD FOREIGN KEY([ArticleId])
REFERENCES [Business].[ArticlesNews] ([Id])
GO
ALTER TABLE [Business].[ArticlesNews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [Business].[ConversationParticipants]  WITH CHECK ADD FOREIGN KEY([ConversationsId])
REFERENCES [Business].[Conversations] ([Id])
GO
ALTER TABLE [Business].[ConversationParticipants]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [Business].[MealOfTheDay]  WITH CHECK ADD FOREIGN KEY([NutritionRouteId])
REFERENCES [Business].[NutritionRoute] ([Id])
GO
ALTER TABLE [Business].[MealOfTheDay]  WITH CHECK ADD FOREIGN KEY([Slot1OfTheDayId])
REFERENCES [Business].[SlotOfTheDay] ([Id])
GO
ALTER TABLE [Business].[MealOfTheDay]  WITH CHECK ADD FOREIGN KEY([Slot2OfTheDayId])
REFERENCES [Business].[SlotOfTheDay] ([Id])
GO
ALTER TABLE [Business].[MealOfTheDay]  WITH CHECK ADD FOREIGN KEY([Slot3OfTheDayId])
REFERENCES [Business].[SlotOfTheDay] ([Id])
GO
ALTER TABLE [Business].[MealOfTheDay]  WITH CHECK ADD FOREIGN KEY([Slot4OfTheDayId])
REFERENCES [Business].[SlotOfTheDay] ([Id])
GO
ALTER TABLE [Business].[MealOfTheDay]  WITH CHECK ADD FOREIGN KEY([Slot5OfTheDayId])
REFERENCES [Business].[SlotOfTheDay] ([Id])
GO
ALTER TABLE [Business].[Messages]  WITH CHECK ADD FOREIGN KEY([ConversationsId])
REFERENCES [Business].[Conversations] ([Id])
GO
ALTER TABLE [Business].[Messages]  WITH CHECK ADD FOREIGN KEY([SenderId])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [Business].[MSG]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [Business].[NutritionRoute]  WITH CHECK ADD FOREIGN KEY([CreateById])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [Business].[NutritionRoute]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [Business].[TransactionsSystem]  WITH CHECK ADD FOREIGN KEY([PayeeID])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [Business].[TransactionsSystem]  WITH CHECK ADD FOREIGN KEY([UserPayID])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [Business].[UserListManagement]  WITH CHECK ADD FOREIGN KEY([NutritionistId])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [Business].[UserListManagement]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [FoodData].[FoodAndDiseases]  WITH CHECK ADD FOREIGN KEY([FoodListId])
REFERENCES [FoodData].[FoodList] ([FoodListId])
GO
ALTER TABLE [FoodData].[FoodAndDiseases]  WITH CHECK ADD FOREIGN KEY([ListOfDiseasesId])
REFERENCES [UserData].[ListOfDiseases] ([Id])
GO
ALTER TABLE [FoodData].[FoodList]  WITH CHECK ADD FOREIGN KEY([CookingDifficultyId])
REFERENCES [FoodData].[CookingDifficulty] ([Id])
GO
ALTER TABLE [FoodData].[FoodList]  WITH CHECK ADD FOREIGN KEY([FoodTypeId])
REFERENCES [FoodData].[FoodType] ([FoodTypeId])
GO
ALTER TABLE [FoodData].[FoodList]  WITH CHECK ADD FOREIGN KEY([KeyNoteId])
REFERENCES [FoodData].[KeyNote] ([Id])
GO
ALTER TABLE [FoodData].[IngredientDetails100g]  WITH CHECK ADD FOREIGN KEY([TypeOfCalculationId])
REFERENCES [FoodData].[TypeOfCalculation] ([TypeId])
GO
ALTER TABLE [FoodData].[IngredientDetails100g]  WITH CHECK ADD  CONSTRAINT [FK_IngredientDetails100g_KeyNote] FOREIGN KEY([KeyNoteId])
REFERENCES [FoodData].[KeyNote] ([Id])
GO
ALTER TABLE [FoodData].[IngredientDetails100g] CHECK CONSTRAINT [FK_IngredientDetails100g_KeyNote]
GO
ALTER TABLE [FoodData].[Recipe]  WITH CHECK ADD FOREIGN KEY([FoodListId])
REFERENCES [FoodData].[FoodList] ([FoodListId])
GO
ALTER TABLE [FoodData].[ScaleAmount]  WITH CHECK ADD FOREIGN KEY([FoodListId])
REFERENCES [FoodData].[IngredientDetails100g] ([Id])
GO
ALTER TABLE [FoodData].[ScaleAmount]  WITH CHECK ADD FOREIGN KEY([IngredientDetailsId])
REFERENCES [FoodData].[FoodList] ([FoodListId])
GO
ALTER TABLE [UserData].[BankInformation]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [UserData].[ExpertPackages]  WITH CHECK ADD FOREIGN KEY([NutritionistDetailsId])
REFERENCES [UserData].[NutritionistDetails] ([Id])
GO
ALTER TABLE [UserData].[FoodSelection]  WITH CHECK ADD FOREIGN KEY([FoodListId])
REFERENCES [FoodData].[FoodList] ([FoodListId])
GO
ALTER TABLE [UserData].[FoodSelection]  WITH CHECK ADD FOREIGN KEY([RecurringId])
REFERENCES [UserData].[RecurringSettings] ([Id])
GO
ALTER TABLE [UserData].[FoodSelection]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [UserData].[MealSettings]  WITH CHECK ADD FOREIGN KEY([DayOfTheWeekStartId])
REFERENCES [Business].[DayOfTheWeek] ([Id])
GO
ALTER TABLE [UserData].[MealSettings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [UserData].[MealSettingsDetails]  WITH CHECK ADD FOREIGN KEY([CookingDifficultyId])
REFERENCES [FoodData].[CookingDifficulty] ([Id])
GO
ALTER TABLE [UserData].[MealSettingsDetails]  WITH CHECK ADD FOREIGN KEY([DayOfTheWeekId])
REFERENCES [Business].[DayOfTheWeek] ([Id])
GO
ALTER TABLE [UserData].[MealSettingsDetails]  WITH CHECK ADD FOREIGN KEY([MealSettingsId])
REFERENCES [UserData].[MealSettings] ([Id])
GO
ALTER TABLE [UserData].[MealSettingsDetails]  WITH CHECK ADD FOREIGN KEY([NutritionTargetsDailyId])
REFERENCES [UserData].[NutritionTargetsDaily] ([Id])
GO
ALTER TABLE [UserData].[MealSettingsDetails]  WITH CHECK ADD FOREIGN KEY([SlotOfTheDayId])
REFERENCES [Business].[SlotOfTheDay] ([Id])
GO
ALTER TABLE [UserData].[MealSettingsDetails]  WITH CHECK ADD FOREIGN KEY([WantCookingId])
REFERENCES [UserData].[WantCooking] ([Id])
GO
ALTER TABLE [UserData].[NutritionistDetails]  WITH CHECK ADD FOREIGN KEY([NutritionistId])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [UserData].[NutritionTargetsDaily]  WITH CHECK ADD FOREIGN KEY([ExerciseIntensityId])
REFERENCES [UserData].[ExerciseIntensity] ([Id])
GO
ALTER TABLE [UserData].[NutritionTargetsDaily]  WITH CHECK ADD FOREIGN KEY([FoodTypeIdWant])
REFERENCES [FoodData].[FoodType] ([FoodTypeId])
GO
ALTER TABLE [UserData].[NutritionTargetsDaily]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [UserData].[User] ([UserId])
GO
ALTER TABLE [UserData].[User]  WITH CHECK ADD FOREIGN KEY([Role])
REFERENCES [UserData].[Role] ([RoleID])
GO
ALTER TABLE [UserData].[UserDetails]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [UserData].[User] ([UserId])
GO
