

            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">QR Pay</h4>
                    <div class="d-flex">
                      <div class="d-flex align-items-center me-4 text-muted font-weight-light">
                        <i class="mdi mdi-account-outline icon-sm me-2"></i>
                        <span>jack Menqu</span>
                      </div>
                      <div class="d-flex align-items-center text-muted font-weight-light">
                        <i class="mdi mdi-clock icon-sm me-2"></i>
                        <span>October 3rd, 2018</span>
                      </div>
                    </div>
                    <div class="row mt-3">        
                      <div class="col-6 pe-1">

                          @if (ViewBag.LinkQRImage != null)
                            {
                                    <img src="@ViewBag.LinkQRImage" class="mb-2 mw-100 w-100 rounded" alt="image">
                            }
                        
                      </div>
                      <div class="col-6 ps-1">
                        <img src="~/images/paybank/logo-bank2.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                        <img src="~/images/paybank/logo-mbbank.jpg" class="mw-100 w-100 rounded" alt="image">
                      </div>
                    </div>
                 
                  </div>
                </div>
              </div>
            </div>
            @if (ViewBag.AlertMessage != null)
{
    <script>
        alert("@System.Web.HttpUtility.JavaScriptStringEncode(ViewBag.AlertMessage)");
    </script>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
        const apiURL = "@ViewBag.CheckQRPaySuccess".replace(/&amp;/g, '&');
        $(document).ready(function () {
            // Hàm gọi API để kiểm tra thanh toán
            var intervalId = setInterval(function () {
                getAPICheckQRPaySuccessful();
            }, 1000); // Gọi API mỗi giây

            // Xử lý khi trang web bị đóng hoặc làm mới, xóa interval khi điều này xảy ra
            $(window).on('beforeunload', function () {
                clearInterval(intervalId); // Dừng gọi API khi trang bị đóng hoặc làm mới
            });
        });

        function getAPICheckQRPaySuccessful() {
            $.ajax({
                url: apiURL,
                method: 'GET',
                success: function(response) {
                    console.log('Success:', response);
                alert('Thanh toán thành công');
            },
                error: function(xhr, status, error) {
                    if (xhr.status === 400) {
                        console.log('Bad Request: ', xhr.responseText);
                    }
                }
            })
        }
    </script>