.hr {
    width: 99%;
    margin: auto;
    height: 1px;
    background: gray;
    margin: 8px 0;
}

.row {
    margin: 0;
    width: 100%;
    padding: 10px 20px;
}

.profile-wrapper.card {
    border-radius: 20px;
    padding: 10px 20px;
}

.profile-left{
    text-align: center;
}

    .profile-left .avatar img{
        width: 90%;
    }

    .profile-left div{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .profile-left .name {
        font-size: 32px;
        font-weight: 700;
        align-content: end;
    }

    .profile-left .description {
        font-size: 20px;
        font-weight: 500;
    }

.basic-info .form-group.gender, .basic-info .form-group.status {
    width: fit-content;
    margin-bottom: 1rem;
    align-content: center;
}

    .basic-info .form-group .form-check {
        display: inline-block;
        margin: 0 10px;
    }