@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="~/images/logo.svg">
                            </div>
                            <h4 style="font-family: 'Roboto', sans-serif;">Quên mật khẩu?</h4>
                            <h6 class="font-weight-light" style="font-family: 'Roboto', sans-serif;">Đừng lo lắng, chúng tôi sẽ gửi cho bạn liên kết đặt lại.</h6>
                            <h6 class="font-weight-light" style="font-family: 'Roboto', sans-serif;">Hãy nhập gmail mà bạn đã liên kết với tài khoản của bạn</h6>
                            <form class="pt-3" asp-controller="Home" asp-action="ForgotPassword" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email đã liên kết tài khoản hệ thống" name="Email" required minlength="1" maxlength="20">
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" style="font-family: 'Roboto', sans-serif;" style="font-family: 'Roboto', sans-serif;">Gửi lại mật khẩu</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light" style="font-family: 'Roboto', sans-serif;">
                                    Nhớ lại mật khẩu? <a href="@Url.Action("Register", "Login")" class="text-primary" style="font-family: 'Roboto', sans-serif;">Đăng nhập</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>

@if (ViewBag.AlertMessage != null)
{
    <script>
        alert("@System.Web.HttpUtility.JavaScriptStringEncode(ViewBag.AlertMessage)");
    </script>
}
