@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="~/images/logo.svg">
                            </div>
                            <h4 style="font-family: 'Roboto', sans-serif;">Xin chào! Chúng ta hãy bắt đầu nhé</h4>
                            <h6 style="font-family: 'Roboto', sans-serif;" class="font-weight-light">Đăng nhập để tiếp tục.</h6>
                            <form class="pt-3" asp-action="Login" method="post">
                                <div class="form-group">
                                    <input style="font-family: 'Roboto', sans-serif;" type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Tài khoản" name="Account" required minlength="6" maxlength="20">
                                </div>
                                <div class="form-group">
                                    <input style="font-family: 'Roboto', sans-serif;" type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Mật khẩu" name="Password" required minlength="6" maxlength="20">
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">ĐĂNG NHẬP</button>
                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center">
                                     <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            @* <input type="checkbox" class="form-check-input"> Keep me signed in *@
                                        </label>
                                    </div> 
                                    <a href="@Url.Action("ForgotPassword", "Home")" class="auth-link text-black" style="font-family: 'Roboto', sans-serif;">Quên mật khẩu?</a>
                                </div>
                                <div class="mb-2">
                                    <a href="@Url.Action("LoginGoogeAccount", "Home")" class="btn btn-block btn-google auth-form-btn">
                                        <i class="mdi mdi-google me-2"></i>Kết nối bằng Google
                                    </a>
                                </div>
                                <div class="text-center mt-4 font-weight-light" style="font-family: 'Roboto', sans-serif;">
                                    Bạn chưa có tài khoản? <a href="@Url.Action("Register", "Home")" class="text-primary" style="font-family: 'Roboto', sans-serif;">Tạo tài khoản</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>

@if (ViewBag.AlertMessage != null)
{
    <script>
        alert("@System.Web.HttpUtility.JavaScriptStringEncode(ViewBag.AlertMessage)");
    </script>
}