<!-- plugins:css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/MealSettingsDetailToList.css" />
<link rel="stylesheet" href="/css/meal-list.css" />

@model SEP490_G87_Vita_Nutrient_System_Client.Models.CreateMealSettingsDetail

<div class="container page-content">
    <div class="modal-header">
        <h1 class="modal-title" style="color: var(--second-color);">
            Danh sách bữa ăn
        </h1>
    </div>

    <form asp-action="EditMealSettingsDetail" asp-route-id="@Model.Id" method="post">
        <input type="hidden" asp-for="MealSettingsId" />
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="form-group">
            <label for="Name">Tên bữa ăn</label>
            <input asp-for="Name" class="form-control" maxlength="51" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="IsActive" />
        <input type="hidden" asp-for="OrderNumber" />
        <input type="hidden" asp-for="Calories" />
        <input type="hidden" asp-for="NutritionTargetsDailyId" />
        <input type="hidden" name="userId" value="@ViewBag.UserId" />
        <div class="form-group">
            <label for="SlotOfTheDayId">Thứ tự ăn trong ngày</label>
            <select asp-for="SlotOfTheDayId" class="form-control" asp-items="ViewBag.SlotOfTheDays"></select>
        </div>

        @*         <div class="form-group">
            <label for="NutritionTargetsDailyId">Chọn mục tiêu dinh dưỡng hàng ngày</label>
            <select asp-for="NutritionTargetsDailyId" class="form-control" asp-items="ViewBag.NutritionTargetsDaily"></select>
        </div> *@
        <input type="hidden" asp-for="DayOfTheWeekId" />
        <div class="form-group my-4">
            <div class="checkbox-block">
                <label for="SkipCreationProcess">
                    Bỏ qua quá trình tạo
                </label>
                <input type="checkbox" asp-for="SkipCreationProcess" class="form-check-input" />
            </div>
        </div>

        <div class="form-group">
            <label for="Size">Kích cỡ bữa ăn</label>
            <select asp-for="Size" class="form-control">
                <option value="Bữa nhỏ">Bữa nhỏ</option>
                <option value="Bữa vừa">Bữa vừa</option>
                <option value="Bữa lớn">Bữa lớn</option>
            </select>
        </div>

        <div class="form-group my-4">
             <div class="checkbox-block">
                <label for="NutritionFocus">
                    Tập trung dinh dưỡng
                </label>
                <input type="checkbox" asp-for="NutritionFocus" class="form-check-input" />
            </div>
        </div>

        <div class="form-group">
            <label for="NumberOfDishes">Số lượng món ăn</label>
            <select asp-for="NumberOfDishes" class="form-control">
                <option value="2">Tự Động</option>
                <option value="1">1 Món Ăn</option>
                <option value="2">2 Món Ăn</option>
                <option value="3">3 Món Ăn</option>
            </select>
        </div>

        <div class="form-group">
            <label for="TypeFavoriteFood">Loại Món ăn ưa thích</label>
            <select asp-for="TypeFavoriteFood" class="form-control" asp-items="ViewBag.SlotOfTheDays"></select>
        </div>

        <div class="form-group">
            <label for="WantCookingId">Muốn nấu ăn</label>
            <select asp-for="WantCookingId" class="form-control" asp-items="ViewBag.WantCookings"></select>
        </div>

        <div class="form-group">
            <label for="TimeAvailable">Thời gian có sẵn</label>
            <select asp-for="TimeAvailable" class="form-control">
                <option value="5">Không có thời gian (&lt; 5 phút)</option>
                <option value="15">Thời gian ít (&lt; 15 phút)</option>
                <option value="30">Một thời gian (&lt; 30 phút)</option>
                <option value="45">Thêm thời gian (&lt; 45 phút)</option>
                <option value="60">Rất nhiều thời gian (&lt; 60 phút)</option>
                <option value="9999">Không giới hạn</option>
            </select>
        </div>

        <div class="form-group">
            <label for="CookingDifficultyId">Độ khó nấu ăn</label>
            <select asp-for="CookingDifficultyId" class="form-control" asp-items="ViewBag.CookingDifficulties"></select>
        </div>

        <div class="action-group d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" style="font-weight: bold; text-align: center; font-family: 'Roboto', sans-serif;background-color: #28a745;">Lưu thay đổi</button>
        <a href="@Url.Action("MealList", "Meal", new { dayOfTheWeekId = Model.DayOfTheWeekId , userId =@ViewBag.UserId})"
            class="btn btn-secondary btn-danger">Hủy</a>
            
        </div>

    </form>
</div>
